@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --grayish-blue: hsl(237, 18%, 59%);
  --soft-red: hsl(345, 95%, 68%);
  --white: hsl(0, 0%, 100%);
  --dark-desaturated-blue: hsl(236, 21%, 26%);
  --very-dark-blue: hsl(235, 16%, 14%);
  --darker-blue: hsl(234, 17%, 12%);
}

body {
  font-family: 'Red Hat Text', sans-serif;
  height: 100vh;
  background: var(--darker-blue) url('/imgs/bg-stars.svg') no-repeat center center;
  background-size: cover;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  text-align: center;
  padding-inline: 1rem;
  max-width: 1440px;
}

.countdown-container h1 {
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 2rem;
}

.countdown {
  display: flex;
  align-items: center;
  justify-content: center;
}

.countdown .count:not(:last-child) {
  margin-right: 1rem;
}

.countdown .title {
  position: relative;
  background-color: #2c2c44;
  border-radius: 0.3rem;
  box-shadow: 0 4px rgba(0, 0, 0, 0.5);
  margin-bottom: 1.3rem;
  width: 70px;
  height: 70px;
}

.countdown .title::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.countdown .title h2 {
  color: var(--soft-red);
  font-size: 1.7rem;
  line-height: 70px;
  position: relative;
  z-index: 1;
}

.countdown .title h2::before,
.countdown .title h2::after {
  content: '';
  position: absolute;
  top: 43%;
  width: 9px;
  height: 9px;
  background-color: var(--darker-blue);
  border-radius: 50%;
  z-index: 1;
}

.countdown .title h2::before {
  left: -5px;
}

.countdown .title h2::after {
  right: -5px;
}

.countdown .count p {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.7rem;
  color: var(--grayish-blue);
  font-weight: 500;
}

.footer-div {
  position: relative;
  width: 100%;
  height: 170px;
  background-image: url('/imgs/pattern-hills.svg');
  background-position: bottom;
  margin-top: 4rem;
}



.footer .social-div {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.footer .social-div a img {
  width: 20px;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.footer .social-div a:hover img {
  transform: translateY(-5px);
}


@media (min-width: 768px) {
  .countdown .title {
    width: 100px;
    height: 100px;
  }

  .countdown .title h2 {
    line-height: 100px;
    font-size: 3rem;
  }

  .countdown .count:not(:last-child) {
    margin-right: 1.5rem;
  }
}
